/** @format */

.resume {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}
.resume img {
	width: 67%;
}
.z li {
	font-size: calc(1rem + 0.9vw);
	font-weight: bold;
	background-color: rgb(81, 88, 88);
	margin: 10px;
	padding: 6px;
	cursor: pointer;
	transition: all 0.5s;
}
.z li:hover {
	transform: translateY(-5px);
	background-color: rgb(61, 65, 65);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.z {
	list-style: none;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	color: rgb(75, 75, 199);
}
h2 {
	padding: 6px;
}
